In [152]:
import pandas as pd

In [153]:
df = pd.read_csv('step_count_all.csv')

In [170]:
df.head()

   studyID   Steps      Date  Weight    BMI  Day
0     2001  2931.0  11/17/14  253.40  36.24    1
1     2001  2264.0  11/18/14  253.55  36.26    2
2     2001  5347.0  11/19/14  253.71  36.28    3
3     2001  5924.0  11/20/14  253.87  36.30    4
4     2001  6961.0  11/21/14  254.02  36.33    5

In [155]:
NullsPerColumn=df.isna().sum()
NullsPerColumn

studyID     0
Steps      88
Date        0
Weight      0
BMI         0
dtype: int64

In [156]:
studyID=df.studyID.unique()

In [157]:
studyID

array([2001, 2002, 2003, 2004, 2006, 2008, 2010, 2012, 2013, 2014, 2017,
       2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2031, 2032,
       2033, 2035, 2037, 2039, 2041, 2043, 2044, 2045, 2046, 2047, 2048,
       2050, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2063, 2066, 2067,
       2069, 2070, 2071, 2072, 2074, 2075, 2078, 2080, 2081, 2082, 2083,
       2084, 2085])

In [158]:
m=0
n=90

In [159]:
day=list(range(1,91))*57
df['Day']=day
df.head()

   studyID   Steps      Date  Weight    BMI  Day
0     2001  2931.0  11/17/14  253.40  36.24    1
1     2001  2264.0  11/18/14  253.55  36.26    2
2     2001  5347.0  11/19/14  253.71  36.28    3
3     2001  5924.0  11/20/14  253.87  36.30    4
4     2001  6961.0  11/21/14  254.02  36.33    5

In [160]:
missing=list(df.Steps.isnull())
missing.index(True)

1077

In [169]:
from sklearn import linear_model
linreg = linear_model.LinearRegression()

for i in range (0,57):
    data=df.iloc[m+90*i:n+90*i]
    data_clean=data.dropna()
    X=data_clean[['studyID','Day']]
    Y=data_clean['Steps']
    reg=linreg.fit(X, Y)
    #print(reg.coef_)
    print(reg.score(X,Y))

0.1618392078435441
0.003025369280149737
0.046869952751782185
0.0027835675486493905
0.3091826183126479
0.24386569802941963
0.07415313197628715
0.4872646202913149
0.04012304612725892
0.01473843758084825
0.035369866246232284
0.056318359363235704
3.8416005522901024e-05
0.017813819507046857
0.0003061695727706315
0.023103507235292753
0.013939258552198797
0.07679311857368087
0.051858091106230075
0.09156278061904544
0.009337674380008987
0.12686453135967124
0.04783706891763717
0.09632877181888133
0.05320065820059394
0.40862143486840685
0.021312357547448757
0.0008946612762055218
0.4875162096704001
0.0950972886442576
0.03845957556144808
0.2077693350901043
0.013777027100659978
0.4602968592859193
0.0011032775684068907
0.0005038442733612536
0.25839334221027344
0.055036300957231776
0.017165348090889543
0.017898313474852823
0.021248085650678372
7.884056764551062e-06
0.0005172539845467172
0.0027894933007514
0.2348168900192591
0.02830532388592044
0.008935044655618118
0.0006407229581859575
0.10929819968015365
0.006514141749100255
0.006458144314500758
0.23022522375917231
0.0018112002101873248
0.1391089694021913
0.004172681329311367
0.08802450903989967
0.004653153825806444