In [108]:
import pandas as pd
import numpy as np

!ls step_count_data_files/2001\ 18\ Month\ Data\ 5.31.2016 

import glob
glob.glob('step_count_data_files/2001 18 Month Data 5.31.2016/2001*.xls')

all_body_data = pd.DataFrame()
for f in glob.glob('step_count_data_files/2001 18 Month Data 5.31.2016/2001*.xls'):
    df = pd.ExcelFile(f)
    all_body_data = all_body_data.append(df.parse('Body',index_col=0))

all_body_data

all_activities_data = pd.DataFrame()
for f in glob.glob('step_count_data_files/2001 18 Month Data 5.31.2016/2001*.xls'):
    df = pd.ExcelFile(f)
    all_activities_data = all_activities_data.append(df.parse('Activities',index_col=0))

all_activities_data

p2001=pd.concat([all_body_data,all_activities_data])

p2001

p2001['Patient_ID']=2001

p2001

2001 Weight Log.csv
2001_File10_18M_8.23.2015-9.22.2015.xls
2001_File11_18M_9.23.2015-10.23.2015.xls
2001_File12_18M_10.24.2015-11.23.2015.xls
2001_File13_18M_11.24.2015-12.24.2015.xls
2001_File14_18M_12.25.2015-1.24.2016.xls
2001_File1_18M_11.17.2014-12.17.2014.xls
2001_File2_18M_12.18.2014-1.17.2015.xls
2001_File3_18M_1.18.2015-2.17-2015.xls
2001_File4_18M_2.18.2015-3.20.2015.xls
2001_File5_18M_3.21.2015-4.20.2015.xls
2001_File6_18M_4.21.2015-5.21.2015.xls
2001_File7_18M_5.22.2015-6.21.2015.xls
2001_File8_18M_6.22.2015-7.22.2015.xls
2001_File9_18M_7.23.2015-8.22.2015.xls
Untitled.ipynb

,Weight,BMI,Fat,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Patient_ID
Date,,,,,,,,,,,,,
2015-07-23,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-24,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-25,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-26,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-27,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-28,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-29,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-30,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-07-31,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-01,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-02,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-03,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-04,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-05,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-06,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-07,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-08,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-09,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-10,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-11,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-12,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-13,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-14,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-15,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-16,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-17,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-18,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-19,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-20,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2015-08-21,225.0,32.18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-23,NaN,NaN,NaN,"2,595","18,692",8.58,0.0,"1,059",381.0,0.0,0.0,"1,132",2001
2015-05-24,NaN,NaN,NaN,"2,692","6,748",4.22,0.0,"1,338",74.0,0.0,28.0,796,2001
2015-05-25,NaN,NaN,NaN,"2,072",704,0.32,0.0,"1,411",29.0,0.0,0.0,122,2001
2015-05-26,NaN,NaN,NaN,"3,297","14,092",8.00,0.0,"1,253",105.0,13.0,69.0,"1,563",2001
2015-05-27,NaN,NaN,NaN,"3,994","22,860",11.95,0.0,"1,140",161.0,11.0,128.0,"2,401",2001
2015-05-28,NaN,NaN,NaN,"3,220","13,545",7.47,0.0,"1,215",164.0,13.0,48.0,"1,538",2001
2015-05-29,NaN,NaN,NaN,"3,172","12,256",6.71,0.0,"1,238",149.0,5.0,48.0,"1,407",2001
2015-05-30,NaN,NaN,NaN,"3,835","20,426",11.71,0.0,"1,164",165.0,25.0,86.0,"2,225",2001
2015-05-31,NaN,NaN,NaN,"3,209","12,373",7.51,0.0,"1,283",92.0,2.0,63.0,"1,386",2001
2015-06-01,NaN,NaN,NaN,"4,141","25,232",13.54,0.0,"1,169",145.0,5.0,121.0,"2,522",2001
2015-06-02,NaN,NaN,NaN,"2,612","6,027",2.78,0.0,"1,276",164.0,0.0,0.0,820,2001
2015-06-03,NaN,NaN,NaN,"2,945","9,988",4.61,0.0,"1,225",193.0,11.0,11.0,"1,201",2001
2015-06-04,NaN,NaN,NaN,"3,439","15,729",8.36,0.0,"1,160",218.0,10.0,52.0,"1,822",2001
2015-06-05,NaN,NaN,NaN,"3,841","21,238",10.86,0.0,"1,118",201.0,14.0,107.0,"2,293",2001
2015-06-06,NaN,NaN,NaN,"3,227","13,242",7.13,0.0,"1,205",177.0,12.0,46.0,"1,558",2001
2015-06-07,NaN,NaN,NaN,"2,275","2,715",1.25,0.0,"1,370",70.0,0.0,0.0,355,2001
2015-06-08,NaN,NaN,NaN,"2,673","5,885",2.92,0.0,"1,289",91.0,44.0,16.0,887,2001
2015-06-09,NaN,NaN,NaN,"3,296","13,463",8.01,0.0,"1,250",119.0,1.0,70.0,"1,563",2001
2015-06-10,NaN,NaN,NaN,"2,748","8,022",3.72,0.0,"1,291",124.0,5.0,20.0,904,2001
2015-06-11,NaN,NaN,NaN,"2,914","9,665",4.46,0.0,"1,243",172.0,5.0,20.0,"1,134",2001
2015-06-12,NaN,NaN,NaN,"3,003","10,370",4.79,0.0,"1,192",225.0,2.0,21.0,"1,323",2001
2015-06-13,NaN,NaN,NaN,"2,465","4,597",2.12,0.0,"1,303",106.0,30.0,1.0,643,2001
2015-06-14,NaN,NaN,NaN,"2,281","2,388",1.10,0.0,"1,365",64.0,8.0,3.0,349,2001
2015-06-15,NaN,NaN,NaN,"2,128","1,110",0.51,0.0,"1,397",43.0,0.0,0.0,186,2001
2015-06-16,NaN,NaN,NaN,"2,348","3,029",1.39,0.0,"1,351",80.0,8.0,1.0,424,2001
2015-06-17,NaN,NaN,NaN,"3,008","12,696",6.43,0.0,"1,274",114.0,5.0,47.0,"1,244",2001
2015-06-18,NaN,NaN,NaN,"3,170","12,640",6.84,0.0,"1,243",143.0,6.0,48.0,"1,411",2001
2015-06-19,NaN,NaN,NaN,"2,942","10,626",4.94,0.0,"1,227",188.0,5.0,20.0,"1,218",2001
2015-06-20,NaN,NaN,NaN,"2,230","2,032",0.94,0.0,"1,365",75.0,0.0,0.0,330,2001
2015-06-21,NaN,NaN,NaN,"2,447","3,869",1.78,0.0,"1,312",116.0,12.0,0.0,585,2001